/* Fonte principal usada em toda a aplicação */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import "tailwindcss";

/* Tema personalizado: cores e fontes usadas no Tailwind */
@theme {
  --color-primary-100: #e0f3f7;
  --color-primary-300: #94ecea;
  --color-primary-400: #2db9cd;
  --color-primary-500: #3062ae;
  --color-primary-600: #0e4c92;

  --color-text-300: #2d3748;
  --color-text-700: #718096;

  --color-green-400: #00a33f;

  --font-sans: Inter, system-ui, sans-serif;
}

/* Reset + fonte global */
body {
  font-family: Inter, system-ui, sans-serif;
  background: #edf2f9;
  margin: 0;
  padding: 0;
}

/* Layout base da aplicação */
html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: block;
}

/* Container padrão usado em várias páginas */
.container-app {
  @apply max-w-7xl mx-auto px-4;
}

/* Utilitários extras  */
@layer utilities {
  /* Animação suave de entrada */
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.4s ease-out forwards;
  }
}
